Repository pykale/pykale, pull requests merged in 2021-05, with the labels that each got.

#134 Add test for image and video CNNs
  kale/embed/image_cnn.py
  tests/embed/test_image_cnn.py
  tests/embed/test_video_feature_extractor.py
  tests/embed/test_video_i3d.py
  tests/embed/test_video_i3d_r3d.py
  tests/predict/test_class_domain_nets.py
Labels: tests

#136 Test domain adapter
  .gitignore
  kale/pipeline/domain_adapter.py
  tests/pipeline/test_domain_adapter.py
Labels: tests

#137 Add tests for csv logger
  kale/utils/csv_logger.py
  tests/conftest.py
  tests/utils/test_csv_logger.py
Labels: tests

#138 Change action_domain_adapter.py to video_domain_adapter.py
  docs/source/kale.pipeline.rst
  examples/action_dann_lightn/model.py
  kale/pipeline/video_domain_adapter.py
Labels: enhancement

#139 Add codecov badge and add tests for isonet
  README.md
  tests/predict/test_isonet.py
Labels: tests

#141 Remove unused actions / use CodeCov action
  .github/workflows/test.yml
  .gitignore
Labels: tests

#142 Add bug fix --> new test
  tests/README.md
Labels: tests

#144 move gait data to pykale/data
  .gitignore
  tests/README.md
  tests/conftest.py
  tests/embed/test_mpca.py
  tests/pipeline/test_mpca_trainer.py
  tests/prepdata/test_image_transform.py
  tests/test_data/empty.csv
  tests/test_data/gait_gallery_data.mat
  tests/test_data/mpca_baseline_res.mat
Labels: refactor, tests

#143 Add "new feature" group
  .github/changelog-ci-config.json
Labels: documentation

#145 Test video domain adapter
  docs/source/kale.loaddata.rst
  examples/action_dann_lightn/main.py
  examples/action_dann_lightn/test.py
  kale/embed/video_feature_extractor.py
  kale/embed/video_i3d.py
  kale/embed/video_res3d.py
  kale/embed/video_se_i3d.py
  kale/embed/video_se_res3d.py
  kale/embed/video_selayer.py
  kale/loaddata/video_multi_domain.py
  kale/pipeline/domain_adapter.py
  kale/pipeline/video_domain_adapter.py
  tests/helpers/boring_model.py
  tests/loaddata/test_video_access.py
  tests/pipeline/test_video_domain_adapter.py
  tests/utils/test_download.py
Labels: tests

#150 Test gripnet
  examples/drug_gripnet/README.md
  examples/drug_gripnet/config.py
  examples/drug_gripnet/main.py
  kale/prepdata/chem_transform.py
  tests/embed/test_gripnet.py
  tests/prepdata/test_chem_transform.py
Labels: tests
