Repository pykale/pykale, pull requests merged in 2021-09, with the labels that each got.

#210 Multi-source domain adatpation SOTA
  docs/source/kale.pipeline.rst
  kale/embed/image_cnn.py
  kale/loaddata/dataset_access.py
  kale/loaddata/digits_access.py
  kale/loaddata/multi_domain.py
  kale/loaddata/sampler.py
  kale/pipeline/domain_adapter.py
  kale/pipeline/multi_domain_adapter.py
  kale/predict/losses.py
  tests/conftest.py
  tests/helpers/__init__.py
  tests/helpers/pipe_test_helper.py
  tests/loaddata/test_digits_access.py
  tests/loaddata/test_office_access.py
  tests/pipeline/test_domain_adapter.py
  tests/pipeline/test_multi_domain_adapter.py
  tests/pipeline/test_video_domain_adapter.py
Labels: enhancement, refactor, tests, new feature

#212 Describe use of YAML
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/yaml.md
  examples/digits_dann_lightn/config.py
Labels: documentation, work-in-progress

#215 Fix digit access
  kale/loaddata/digits_access.py
  tests/loaddata/test_digits_access.py
Labels: bug

#218 Change logger in digits and action example
  examples/action_dann_lightn/config.py
  examples/action_dann_lightn/main.py
  examples/digits_dann_lightn/config.py
  examples/digits_dann_lightn/main.py
  kale/utils/csv_logger.py
  tests/utils/test_csv_logger.py
Labels: enhancement

#222 Multi source example
  docs/source/kale.loaddata.rst
  examples/digits_dann_lightn/tutorial.ipynb
  examples/multisource_adapt/README.md
  examples/multisource_adapt/__init__.py
  examples/multisource_adapt/config.py
  examples/multisource_adapt/configs/Office2A-M3SDA.yaml
  examples/multisource_adapt/configs/Office2A-MFSAN.yaml
  examples/multisource_adapt/configs/digits-M3SDA.yaml
  examples/multisource_adapt/configs/tutorial.yaml
  examples/multisource_adapt/main.py
  examples/multisource_adapt/model.py
  kale/loaddata/image_access.py
  kale/loaddata/multi_domain.py
  kale/pipeline/multi_domain_adapter.py
  kale/predict/losses.py
  tests/conftest.py
  tests/loaddata/test_image_access.py
  tests/loaddata/test_office_access.py
  tests/pipeline/test_multi_domain_adapter.py
Labels: enhancement, refactor, tests

#221 Add notebook "smoke tests" to CI
  .github/workflows/test.yml
  examples/bindingdb_deepdta/tutorial.ipynb
  examples/cmri_mpca/tutorial.ipynb
  examples/digits_dann_lightn/tutorial.ipynb
  setup.py
Labels: enhancement, work-in-progress, tests
